@font-face {
    font-family: 'PT Mono Bold';
    src: url('PT Mono Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* inter-heavy.otf */
@font-face {
    font-family: 'Inter Extra Bold';
    src: url('Inter-ExtraBold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Inconsolata-VariableFont_wdth,wght.ttf */
@font-face {
    font-family: 'Inconsolata Bold';
    src: url('Inconsolata-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Inconsolata_Condensed-Bold.ttf */
@font-face {
    font-family: 'Inconsolata Condensed Bold';
    src: url('Inconsolata_Condensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Inconsolata-Black.ttf */
@font-face {
    font-family: 'Inconsolata Black';
    src: url('Inconsolata-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Inconsolata_Expanded-Black.ttf */
@font-face {
    font-family: 'Inconsolata Expanded Black';
    src: url('Inconsolata_Expanded-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




:root {
    --base-font-size: 70px;
    --golden-ratio: 1.618;
    --label-width: 18cm;
    --label-height: 6cm;
    --digit-width: 5cm;
    --digit-height: 3cm;
    --location-width: 13cm;

    --digit-font-family: 'Inconsolata Bold';
    --location-font-family: 'Inconsolata Black';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media print {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {

        background-color: white;
        /* Set the body background color to white for print */
        color: black;
        /* Set the body text color to black for print */
    }

    img,
    body *:not(.label-container):not(.label-container *) {
        display: none;
        /* Hide all elements except for .label-container and its child elements */
    }

    /* Force background colors and images to print */
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}



body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: orangered;
}

img {
    width: 25cm;
    height: 6cm;
}

.label-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: var(--label-width);
    height: var(--label-height);

    page-break-inside: avoid;
    break-inside: avoid;
}

.label {
    display: flex;
    flex-direction: row;
    width: var(--label-width);

}

.label-digit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--digit-width);
    height: var(--digit-height);

}

.bg-white {
    background-color: white;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.bg-black {
    background-color: black;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.bg-yellow {
    background-color: yellow;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.digit-text {
    font-size: var(--base-font-size);
    text-transform: uppercase;
    /* Use the base size variable */
    color: white;
    font-family: var(--digit-font-family);
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    font-weight: 900;
}

.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: var(--location-width);
    height: var(--digit-height);
    border-top: 1mm solid black;
    border-bottom: 1mm solid black;
    border-right: 1mm solid black;
    border-i
}

.location-text {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: var(--location-font-family);
    font-size: calc(var(--base-font-size) * var(--golden-ratio));
    /* Calculate the golden ratio size */
    color: black;
    width: 100%;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.border-top-white {
    border-top: 1mm solid white;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.border-bottom-white {
    border-bottom: 1mm solid white;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.border-top-black {
    border-top: 1mm solid black;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.border-bottom-black {
    border-bottom: 1mm solid black;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.material-button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    background: #6200ea;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.5em;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
}

.material-button:disabled {
    background: #b5a1e5;
    cursor: not-allowed;
}

.material-button:hover:not(:disabled) {
    background: #3700b3;
}

.material-button:active:not(:disabled) {
    background: #27006f;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}

.material-icons {
    font-size: 1.5em;
}



.warning-toast {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336;
    /* Red background color */
    color: white;
    /* White text color */
    padding: 16px;
    /* Padding */
    border-radius: 4px;
    /* Rounded corners */
    max-width: 300px;
    /* Maximum width */
    text-align: center;
    /* Centered text */
    z-index: 1000;
    /* On top */
}

.top-tool-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    margin-bottom: 4em;
    background-color: #000000;
    color: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);

    
}