@font-face {
    font-family: 'PT Mono Bold';
    src: url('fonts/PT Mono Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* inter-heavy.otf */
@font-face {
    font-family: 'Inter Extra Bold';
    src: url('fonts/Inter-ExtraBold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Inconsolata-VariableFont_wdth,wght.ttf */
@font-face {
    font-family: 'Inconsolata Bold';
    src: url('fonts/Inconsolata-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Inconsolata_Condensed-Bold.ttf */
@font-face {
    font-family: 'Inconsolata Condensed Bold';
    src: url('fonts/Inconsolata_Condensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Inconsolata-Black.ttf */
@font-face {
    font-family: 'Inconsolata Black';
    src: url('fonts/Inconsolata-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Inconsolata_Expanded-Black.ttf */
@font-face {
    font-family: 'Inconsolata Expanded Black';
    src: url('fonts/Inconsolata_Expanded-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




:root {
    --base-font-size: 70px;
    --golden-ratio: 1.618;
    --label-width: 18cm;
    --label-height: 6cm;
    --digit-width: 5cm;
    --digit-height: 30mm;
    --location-width: 13cm;

    --digit-font-family: 'Inconsolata Bold';
    --location-font-family: 'Inconsolata Bold';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media print {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {

        background-color: white;
        /* Set the body background color to white for print */
        color: black;
        /* Set the body text color to black for print */
    }

    img,
    body *:not(.label-container):not(.label-container *) {
        display: none;
        /* Hide all elements except for .label-container and its child elements */
        
        /* Force background colors and images to print */
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}





/* Light Mode Styles (default) */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}





/* Dark Mode Styles */
body.dark-mode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkorange;
}
/* updated color */





img {
    width: 25cm;
    height: 6cm;
}

.label-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: var(--label-width);
    height: calc(var(--digit-height) * 2);

    page-break-inside: avoid;
    break-inside: avoid;
    background-color: white;
}

.label {
    display: flex;
    flex-direction: row;
    width: var(--label-width);

}

.label-digit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--digit-width);
    height: var(--digit-height);

}

.bg-white {
    background-color: white;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.bg-black {
    background-color: black;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.bg-yellow {
    background-color: yellow;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.digit-text {
    font-size: var(--base-font-size);
    text-transform: uppercase;
    /* Use the base size variable */
    color: white;
    font-family: var(--digit-font-family);
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    font-weight: 900;
}

.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: var(--location-width);
    height: var(--digit-height);
    border-top: 1mm solid black;
    border-bottom: 1mm solid black;
    border-right: 1mm solid black;
    
}

.location-text {
    text-transform:uppercase;
    display: flex;
    justify-content: center;
    font-family: var(--location-font-family);
    font-size: calc(var(--base-font-size) * var(--golden-ratio));
    /* Calculate the golden ratio size */
    color: black;
    width: 100%;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.border-top-white {
    border-top: 1mm solid white;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.border-bottom-white {
    border-bottom: 1mm solid white;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.border-top-black {
    border-top: 1mm solid black;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.border-bottom-black {
    border-bottom: 1mm solid black;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.material-button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    background: #6200ea;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.5em;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
}

.material-button:disabled {
    background: #b5a1e5;
    cursor: not-allowed;
}

.material-button:hover:not(:disabled) {
    background: #3700b3;
}

.material-button:active:not(:disabled) {
    background: #27006f;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}

.material-icons {
    font-size: 1.5em;
}



.warning-toast {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336;
    /* Red background color */
    color: white;
    /* White text color */
    padding: 16px;
    /* Padding */
    border-radius: 4px;
    /* Rounded corners */
    max-width: 300px;
    /* Maximum width */
    text-align: center;
    /* Centered text */
    z-index: 1000;
    /* On top */
}

.top-tool-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    margin-bottom: 4em;
    background-color: white;
    color: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);


}

.top-tool-bar.dark-mode {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    margin-bottom: 4em;
    background-color: #000000;
    color: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}



/* // color work  */

.color-picker-section {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 70px;
    /* width: 100%; */
    text-align: center;
}

.color-picker-title {
    font-size: 24px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.color-palette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    gap: 1em;
}

.color-palette.dark-mode {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #2f4f4f3d;
    gap: 1em;
}

.color-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: space-around;
}

.color-preview {
    width: 30px;
    height: 20px;
    border: 1px solid #000;
}

.color-name {
    color: white;
    padding-left: 1em;
}



.main-container {
    display: flex;
    gap: 1em;
}




.color-active {
    border: 2px solid #6200ea;
}


a,
label {
    white-space: nowrap;
}






.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    line-height: 2em;
    background-color: #fefefe;
    margin: 4em auto;
    padding-left: 5em;
    border: 1px solid #888;
    padding-right: 5em;
    max-width: 18cm;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-excel-img {
    object-fit: scale-down;
    align-self: center;
}





.arrow-keys {
    position: fixed;
    bottom: 100px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    color: black;
}

.arrow-key {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    /* Lighter color to indicate disabled state */
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 5px;
    font-size: 24px;
    cursor: not-allowed;
    /* Cursor indicating the button is not clickable */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.arrow-key-up {
    margin-bottom: 10px;
    /* Add space between the arrows */
}


.tooltip {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    left: calc(-100% - 10px);
    /* Adjusted this to position the tooltip to the left */
    top: 50%;
    /* Adjusted this to vertically center the tooltip */
    transform: translateY(-50%);
    /* Adjusted this to vertically center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
    left: -300px;
}

.arrow-key:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.arrow-key:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.arrow-key {
    position: relative;
    /* Added this to correctly position the tooltip */
}





.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* --digit-font-family: 'Inconsolata Bold'; */
/* --location-font-family: 'Inconsolata Bold'; */
.pressed {
    font-weight: bold;
    color: black;
    font-family: 'Inconsolata Bold';
  }
  .not-pressed {
    font-weight: normal;
    color: grey;
    font-family: 'Inconsolata Black';
  }