<h1 mat-dialog-title class="text-2xl font-semibold">RackLabelTool</h1>

<div mat-dialog-content class="text-base mat-typography">
  <h2 class="text-xl font-medium">How to Use Excel File</h2>
  <p>Place all the label data in column 'A' using the following format: <code>[check digit] [location]</code>.</p>
  <p><strong>Example</strong>: <pre>
    UWU DD 23 A2
    AHA DD 23 A1</pre>

<br>
  <h3 class="text-lg font-medium mt-4">Important Points to Note</h3>
  <ul class="list-disc pl-5">
    <li>Separators like spaces or commas are not required.</li>
    <li>Case sensitivity is not important; the app will handle it.</li>
    <li>The items don't have to be in any particular order.</li>
    <!-- -->
    <li>There needs to be <code>A1</code> and <code>A2</code> pair to produce a label.</li>
  </ul>

  <p>The application will automatically match a label pairs</p>
</div>

<div mat-dialog-actions>
  <button type="button" mr-8 mat-button mat-dialog-close class="text-white bg-blue-500 hover:bg-blue-300">Close</button>
</div>
