<h1 mat-dialog-title class="text-2xl font-semibold">RackLabelTool</h1>

<div mat-dialog-content class="text-base mat-typography">
  <h2 class="text-xl font-medium">How to Use Excel File</h2>
  <p>Place all the label data in column 'A' using the following format: <code>[check digit] [location]</code>.</p>
  <p><strong>Example</strong>: <pre>
    UWU DD 23 A2
    ARA DD 23 A1</pre>

<br>
  <h3 class="text-lg font-medium mt-4">Important Points to Note</h3>
  <ul class="list-disc pl-5">
    <li>Separators like spaces or commas are not required.</li>
    <li>Case sensitivity is not important; the app will handle it.</li>
    <li>The items don't have to be in any particular order.</li>
    <!-- -->
    <li>There needs to be <code>A1</code> and <code>A2</code> pair to produce a label.</li>
    <li>The application will automatically match a label pairs</li>
  </ul>

<br>


  <!-- New section for How to Use: Printing -->
  <h2 class="text-xl font-medium mt-4">How to Use: Printing</h2>
  <p>To print with the system dialog, use the following shortcuts:</p>
  <ul>
    <li><strong>Mac:</strong> Command+Option+P</li>
    <li><strong>Windows:</strong> Ctrl+Shift+P</li>
  </ul>
<br>
  <!-- New section for Choosing Format -->
  <h2 class="text-xl font-medium mt-4">Choosing Format</h2>
  <ul>
    <li>
      <strong>A4/7 Button:</strong>
      Using minimal margins, this setting yields 7 180x40mm labels per A4 page.
    </li>
    <li>
      <strong>A4/6 Button:</strong>
      Using minimal margins, this setting yields 6 192x46.5mm labels per A4 page.
    </li>
    <li>
      <strong>A4/5 Button:</strong>
      Using minimal margins, this setting yields 5 200x56mm labels per A4 page.
    </li>
    <li>
      <strong>A4/3 Button:</strong>
      Using minimal margins, this setting yields 3 252x56mm labels per A4 page in Landscape mode. It is meant to be printed in landscape mode for best
      results.
    </li>
  </ul>
<br>



<div mat-dialog-actions>
  <button type="button" mr-8 mat-button mat-dialog-close class="text-white bg-blue-500 hover:bg-blue-300">Close</button>
</div>
