/* filename: styles.css */

:root {
  --base-font-size: 16mm;
  --digit-width: 50mm;
  --location-width: 130mm;
  --label-height: 20mm;
}

.label-pair {
    page-break-inside: avoid;
}

.digit-l2 {
  height: var(--label-height);
  width: var(--digit-width);
  font-size: var(--base-font-size);
  border-top: 1mm solid rgb(15 23 42 / var(--tw-bg-opacity));
}

.location-l2 {
  height: var(--label-height);
  width: var(--location-width);
  font-family: 'Roboto Condensed';
  align-items: center;
  font-size: var(--base-font-size);
  border-top: 0.5mm solid white;
}

.digit-l1 {
  height: var(--label-height);
  width: var(--digit-width);
  font-size: var(--base-font-size);
  border-bottom: 0.5mm solid rgb(15 23 42 / var(--tw-bg-opacity));
}

.location-l1 {
  height: var(--label-height);
  width: var(--location-width);
  font-family: 'Roboto Condensed';
  align-items: center;
  font-size: var(--base-font-size);
  border-bottom: 0.5mm solid white;
}

span {
  background: none;
}



.toolbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: calc(var(--location-width) + var(--digit-width));
}

.value-mm {
  text-transform: lowercase;
}

.color-options:hover {}

.color-options {}



/* @media print {
  body  {
    visibility: hidden;
  }



  .label-pair {
    display: block;
    page-break-inside: avoid;
    position: absolute;
    top: 0;
    visibility: visible;
    color-adjust: exact;


  }
  .label-pair-container{
    display: block;
    position: absolute;
    top: 0;
    visibility: visible;
    color-adjust:exact;
  }
  .main-container{
    display: block!important;
  }
}


    .label-pair-container{
      display: block;
    } */


/* print.css */
@media print {

  body {
    visibility: hidden;
  }


  .label-pair-container {
    display: block;
    visibility: visible;
    position: absolute;
    top: 0;
    page-break-inside: avoid;
  }

  .label-pair {
    display: block;
    position: relative;
    top: 0;
    visibility: visible;
    color-adjust: exact;
      page-break-inside: avoid;
  }




}



/* styles.css */

/* styles.css */

/* Top left */
 .label-pair::before {
  content: '';
  display: block;
  height: 0mm;
  width: 2mm;
  border-bottom: 0.25mm red double;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  background-color: darkorange;
  position: relative;
  top: 0mm;
  left: -2mm;
  z-index: -1;
}

/* Bottom right */
 .label-pair::after {
  content: '';
  display: block;
  height: 0mm;
  width: 2mm;
  border-bottom: 0.25mm red double;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  background-color: darkorange;
  position: relative;
  bottom: 0mm;
  right: 2mm;
  z-index: -1;
}



.mat-toolbar-row,
.mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  white-space: nowrap;
  justify-content: space-evenly;
  align-items: center;

}
