<!-- main conntainer -->
<div id="main-container" class="flex flex-col  justify-center  items-center align-middle uppercase">
  <mat-card class="toolbox-card h-36 justify-center">
    <mat-card-content class="toolbox">

      <!-- toolbar -->
      <mat-toolbar>
        <input type="file" hidden #fileInput accept=".xls, .xlsx" (change)="useExcelFile($event)" />
        <button type="button" mat-raised-button class="bg-blue-500 text-white" (click)="fileInput.click()">
          Use Excel File
        </button>
        <button type="button" mat-raised-button class="bg-green-500 text-white px-4 py-2" (click)="printLabels()">
          Print Labels
        </button>
        <button type="button" mat-raised-button (click)="openDialog()">How To Use</button>
      </mat-toolbar>

      <div class="tools-row  flex flex-row items-center justify-evenly">

        <!-- toggle butons for 5 6 7 label pairs per a4 sheet -->
        <div class="flex flex-col items-center">

          <!-- app.component.html -->
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <!-- Tooltip to describe how many labels fit on an A4 page with minimal margins when using setting "five" -->
            <mat-button-toggle matTooltip="Using minimal margins, this setting yields 5 200x56mm labels per A4 page." (click)="setFive()"
              value="five">A4/5</mat-button-toggle>

            <!-- Tooltip to describe how many labels fit on an A4 page with minimal margins when using setting "six" -->
            <mat-button-toggle matTooltip="Using minimal margins, this setting yields 6 192x46.5mm labels per A4 page." (click)="setSix()"
              value="six">A4/6</mat-button-toggle>

            <!-- Tooltip to describe how many labels fit on an A4 page with minimal margins when using setting "seven" -->
            <mat-button-toggle matTooltip="Using minimal margins, this setting yields 7 180x40mm labels per A4 page." (click)="setSeven()" value="seven"
              [checked]="true">A4/7</mat-button-toggle>
          </mat-button-toggle-group>

        </div>

        <!-- opacity slider -->
        <div class="flex flex-col items-center align-middle justify-evenly w-1/3">
          <label for>Yellow</label>
          <div class="o-slider flex flex-row  items-center">
            <label form="opacity-slider" class="opacity-value-label">{{opacity.value}}%</label>
            <mat-slider class="opacity-adjust" min="0" max="100" step="10">
              <input title="opacity-slider" matSliderThumb #opacity (input)="return_bg_opacity_yellowSlider(opacity.value)" value="100">
            </mat-slider>
          </div>
        </div>

                  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle class="w-14"  [ngClass]="[fontWeightClass]" (click)="toggleBold()" >B</mat-button-toggle>

                  </mat-button-toggle-group>


      </div>
    </mat-card-content>
  </mat-card>

  <div
  [ngClass]="[fontWeightClass]"
  class="label-pair-container">

    <!-- Labels -->
    <div *ngFor="let label of Labels" class="label-pair w-auto h-auto bg-white  mb-0">
      <!-- Level 2 -->
      <div class="label-l2 flex flex-row">
        <!-- level 2 digit -->
        <div contenteditable="true" [style.height.mm]="labelHeight" [style.width.mm]="digitWidth"  [style.fontSize.mm]="digitFontSize"
          class="digit-l2 flex items-center justify-center text-white bg-slate-900 whitespace-nowrap font-mono  border-b-2 font-semibold">
          {{ label.level2.digit }}
        </div>
        <!-- level 2 location -->
        <div [ngClass]="[yellowOpacityClass]" [style.height.mm]="labelHeight" [style.width.mm]="locationWidth" [style.fontSize.mm]="locationFontSize"
          class="location-l2 flex bg-yellow-300 whitespace-nowrap  border-black border-b-2  px-4">
          <span contenteditable="true" class="name-l2 flex flex-row place-content-start  w-1/3">{{ label.level2.street }}</span>
          <span contenteditable="true" class="number-l2 flex flex-row place-content-center  w-1/3">{{label.level2.number }}</span>
          <span contenteditable="true" class="level-l2 flex flex-row place-content-end  w-1/3">{{label.level2.side }}{{ label.level2.level }}</span>
        </div>
      </div>
      <!-- Level 1 -->
      <div class="label-l1 flex flex-row">
        <!-- level 1 digit -->
        <div contenteditable="true" [style.height.mm]="labelHeight" [style.width.mm]="digitWidth" [style.fontSize.mm]="digitFontSize"
          class="digit-l1 flex items-center justify-center text-white bg-slate-900 whitespace-nowrap font-mono  border-t-2 font-semibold">
          {{ label.level1.digit }}
        </div>
        <!-- level 1 location -->
        <div [style.fontSize.mm]="locationFontSize" [style.height.mm]="labelHeight" [style.width.mm]="locationWidth"
          class="location-l1 flex bg-white whitespace-nowrap   border-black border-t-2 px-4 ">
          <span contenteditable="true" class="name-l1 flex flex-row place-content-start  w-1/3">{{ label.level1.street }}</span>
          <span contenteditable="true" class="number-l1 flex flex-row place-content-center  w-1/3">{{label.level1.number }}</span>
          <span contenteditable="true" class="level-l1 flex flex-row  place-content-end w-1/3">{{label.level1.side }}{{ label.level1.level }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
