<mat-toolbar>
  <span>Rack label tool</span>
</mat-toolbar>


<div id="main-container" class="flex justify-center">
  <div class="label border-black w-auto h-auto bg-white flex flex-col border">
    <div class="label-l2 flex flex-row">
      <div class="digit-l2 flex items-center justify-center text-white bg-slate-900 whitespace-nowrap font-mono text-6xl border-b-2">
        Q0I
      </div>
      <div class="location-l2 bg-yellow-300 flex items-center whitespace-nowrap  font-sans text-8xl border-black border-b-2 justify-between px-4">
        <span class="name-l2">AA</span><span class="number-l2">01</span><span class="level-l2">A2</span>
      </div>
    </div>

    <div class="label-l1 flex flex-row">
      <div class="digit-l1 flex items-center justify-center text-white bg-slate-900 whitespace-nowrap font-mono text-6xl border-t-2">
        O01
      </div>
      <div class="location-l1 flex items-center justify-between whitespace-nowrap font-sans text-8xl border-black border-t-2 px-4">
        <span class="name-l1">AA</span><span class="number-l1">01</span><span class="level-l1">A1</span>
      </div>
    </div>
  </div>
</div>
