:root {
  --base-font-size: 15mm;
  --digit-width: 50mm;
  --location-width: 130mm;
  --label-height: 20mm;
}

.label-pair-container {
  visibility: visible;
  page-break-inside: avoid;
  -webkit-page-break-inside: avoid;
}

.label-pair {
  visibility: visible;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  page-break-inside: avoid;
  -webkit-page-break-inside: avoid;
  overflow: hidden;
}

.digit-l1 {
  height: var(--label-height);
  width: var(--digit-width);
  font-family: 'Consolas';
  font-size: var(--base-font-size);
  border-top: 0.75mm solid white;
}

.digit-l2 {
  height: var(--label-height);
  width: var(--digit-width);
  font-family: 'Consolas';
  font-size: var(--base-font-size);
  border-bottom: 0.75mm solid white;
}

.location-l1 {
  height: var(--label-height);
  width: var(--location-width);
  font-family: 'Roboto Condensed';
  align-items: center;
  font-size: var(--base-font-size);
  border-top: 0.75mm solid black;
}

.location-l2 {
  height: var(--label-height);
  width: var(--location-width);
  font-family: 'Roboto Condensed';
  font-size: var(--base-font-size);
  border-bottom: 0.75mm solid black;
}

.toolbox {
  width: calc(var(--location-width) + var(--digit-width));
}

.label-pair::before {
  content: "";
  display: block;
  width: calc(100% + 8mm);
  height: 1px;
  z-index: -1;
  left: -4mm;
  position: absolute;
  background-color: red;
}
