// var --digit-width 50mm
// var --label-width 130mm
// var digit-height 25mm
// var label-height 25mm

$digit-width: 50mm;
$location-width: 130mm;

$label-height: 25mm;

.main-container {
}

.label {
}

.label-l2 {
}
.digit-l2 {
  height: $label-height;
  width: $digit-width;
}
.location-l2 {
  height: $label-height;
  width: $location-width;
}
.name-l2 {
}
.number-l2 {
}
.level-l2 {
}
.label-l1 {
}
.digit-l1 {
  width: $digit-width;
  height: $label-height;
}

.location-l1 {
  width: $location-width;
  height: $label-height;
}
.name-l1 {
}
.number-l1 {
}
.level-l1 {
}

span{
  background: none;
}


@media print {
  body *:not(.label) {
    display: none!important;
  }
  mat-toolbar{
    display:none;
  }

  .label {
    display: block;
    print-color-adjust:exact;
    -webkit-print-color-adjust: exact;
  }
}

