$digit-width: 50mm;
$location-width: 130mm;
$label-height: 25mm;

// .main-container {
// }

// .label {
// }

// .label-l2 {
// }
.digit-l2 {
  height: $label-height;
  width: $digit-width;
}
.location-l2 {
  height: $label-height;
  width: $location-width;
}
// .name-l2 {
// }
// .number-l2 {
// }
// .level-l2 {
// }
// .label-l1 {
// }
.digit-l1 {
  width: $digit-width;
  height: $label-height;
}

.location-l1 {
  width: $location-width;
  height: $label-height;
}
// .name-l1 {
// }
// .number-l1 {
// }
// .level-l1 {
// }

span {
  background: none;
}

@media print {
  body *:not(.label) {
    display: none !important;
  }
  mat-toolbar,
  .toolbox,
  .toolbox-card {
    display: none;
  }

  .label {
    display: block;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

.toolbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: calc($location-width + $digit-width);
}

.value-mm {
  text-transform: lowercase;
}
