<mat-toolbar class="bg-gray-100 h-40  text-xs">

  <div class="container flex flex-col gap-2 w-[100vw]">

    <!-- First Row -->
    <div class="flex flex-row gap-1 justify-center items-center">
      <input
        type="file"
        hidden
        #fileInput
        accept=".xls, .xlsx"
        (change)="useExcelFile($event)" />
      <button type="button" mat-raised-button (click)="fileInput.click()">
        Use Excel File
      </button>
      <button
        type="button"
        mat-raised-button
        (click)="printLabels()"
        [matTooltip]="osPrintTooltip">
        Print Labels
      </button>
      <button type="button" mat-raised-button (click)="openDialog()">
        How To Use
      </button>
    </div>

    <!-- Third Row -->
    <div class="third-row  flex flex-row gap-14 justify-center items-center">
      <label for>Yellow</label>
      <mat-slider min="0" max="100" step="10">
        <input
          title="opacity-slider"
          matSliderThumb
          #opacity
          (input)="updateYellowOpacityClassName(opacity.value)"
          value="70" />
      </mat-slider>
      <label form="opacity-slider">{{opacity.value }}%</label>

    </div>

    <!-- Second Row -->
    <div class="flex flex-row gap-4 justify-center items-center">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle
          [matTooltip]="matTooltip7"
          (click)="setSeven()"
          value="seven">
          <span class="flex flex-row text-xs leading-4 py-2">
            <span>Portrait</span>
            <span>A4/7</span>
          </span>
        </mat-button-toggle>

        <mat-button-toggle
          [matTooltip]="matTooltip6"
          (click)="setSix()"
          value="six">
          <span class="flex flex-row text-xs py-2 leading-4">
            <span>Portrait</span><span>A4/6</span>
          </span>
        </mat-button-toggle>

        <mat-button-toggle
          [matTooltip]="matTooltip5"
          (click)="setFive()"
          value="five">
          <span class="flex flex-row text-xs py-2 leading-4">
            <span>Portrait</span>
            <span>A4/5</span>
          </span>
        </mat-button-toggle>

        <mat-button-toggle
          [checked]="true"
          [matTooltip]="matTooltip3"
          (click)="setLandscape3()"
          value="five">
          <span class="flex flex-row text-xs py-2 leading-4">
            <span>Landscape</span>
            <span>A4/3</span>
          </span>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

  </div>
</mat-toolbar>
