@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./assets/RobotoCondensed-Regular.ttf');
}
body {
  margin: 0;
  font-family: 'Roboto Condensed';
}
